{% extends "ViaSofie/master.html" %}
{% load viasofie_tags %}
{% load staticfiles %}

{% block title %}Pand{% endblock %}

{% block headcontent %}
    <link href="{% static "ViaSofie/css/lightbox.css" %}" rel="stylesheet">
    <style>
        .multi-item-carousel .carousel-inner > .item {
            -webkit-transition: 500ms ease-in-out left;
            transition: 500ms ease-in-out left;
            left: 0;
        }

        .multi-item-carousel .carousel-inner .active.left {
            left: -33.33%;
        }

        .multi-item-carousel .carousel-inner .active.right {
            left: 33.33%;
        }

        .multi-item-carousel .carousel-inner .next {
            left: 33.33%;
        }

        .multi-item-carousel .carousel-inner .prev {
            left: -33.33%;
        }

        @media all and (transform-3d), (-webkit-transform-3d) {
            .multi-item-carousel .carousel-inner > .item {
                -webkit-transition: 500ms ease-in-out all;
                transition: 500ms ease-in-out all;
                -webkit-backface-visibility: visible;
                backface-visibility: visible;
                -webkit-transform: none !important;
                transform: none !important;
            }
        }

        .multi-item-carousel .carousel-control.left,
        .multi-item-carousel .carousel-control.right {
            background-image: none;
        }

        /*.carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(33.33%, 0, 0);
        -ms-transform: translate3d(33.33%, 0, 0);
        -o-transform: translate3d(33.33%, 0, 0);
        transform: translate3d(33.33%, 0, 0);
     }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-33.33%, 0, 0);
      -ms-transform: translate3d(-33.33%, 0, 0);
      -o-transform: translate3d(-33.33%, 0, 0);
      transform: translate3d(-33.33%, 0, 0);
    }

    .carousel-inner .active.left { left: -33.33%; }
    .carousel-inner .active.right { left: 33.33%; }
    .carousel-inner .next        { left:  33.33%; }
    .carousel-inner .prev        { left: -33.33%; }*/

    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7" id="details_panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="header_details"><b>Pand details</b></h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    {% for kenmerk in basis_kenmerken %}
                                        <div class="col-md-12">
                                            <b>{{ kenmerk.1 }} : </b>
                                            <p>{{ kenmerk.0 }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    {% for kenmerk in kenmerken %}
                                        <div class="col-md-12">
                                            <b>{{ kenmerk.kenmerk.benaming }} : </b>
                                            {% if kenmerk.kenmerk.type == 'Prijs' %}  <p>{{ kenmerk.aantal }}</p>{% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">

                <div class="col-md-12">
                    <iframe seamless="seamless" style="border: 0; width:100%; height:320px;" frameborder="0"
                            allowtransparency="true" scrolling="no"
                            src=" https://www.google.com/maps/embed/v1/place?key=AIzaSyDvDjOEBXpkc9oApCP_Xi3jngrSiE7aoJw&amp;q={{ maps_adres.straat }},{{ maps_adres.huisnummer }},{{ maps_adres.woonplaats.gemeente }},{{ maps_adres.woonplaats.postcode }},{{ maps_adres.land }}"></iframe>
                </div>

                {% if links.count > 0 %}
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Vindt dit pand ook op : </h4></div>
                            <div class="panel-body">
                                {% for link in links %}
                                    <div class="col-md-6">
                                        <a href="{{ link.site_link }}">{{ link.site_beschrijving }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="hidden">
            {% for image in fotos %}
                <a href="{{ image }}" data-lightbox="test" id="foto_{{ image.id }}"></a>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide multi-item-carousel" id="theCarousel">
                    <div class="carousel-inner">
                        {% for image in fotos %}
                            {% if forloop.first %}
                                <div class="item active">
                                    <div class="col-md-4">
                                        <div class="foto" style="background-image: url('{{ image }}');"
                                             onclick="document.getElementById('foto_{{ image.id }}').click()"></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="item">
                                    <div class="col-md-4">
                                        <div class="foto" style="background-image: url('{{ image }}');"
                                             onclick="document.getElementById('foto_{{ image.id }}').click()"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i
                            class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i
                            class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.multi-item-carousel').carousel({
            interval: false
        });

        // for every slide in carousel, copy the next slide's item in the slide.
        // Do the same for the next, next item.
        $('.multi-item-carousel .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            if (next.next().length > 0) {
                next.next().children(':first-child').clone().appendTo($(this));
            } else {
                $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
    <script src="{% static "ViaSofie/js/lightbox.js" %}"></script>
{% endblock %}


<!--{% block old %}
    <style>
        #foto {
            display: inline-block;
            height: 400px;
            padding: 40px;

        }

        #info {
            display: inline-block;
            width: 50%;
            border-style: ridge;
            margin-top: 50px;

        }

        #profile {
            width: 100%;
            height: 250px;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 15px;

        }

        #foto1, #foto2, #foto3 {
            padding: 20px;
            height: 110px;

        }

        #immo {
            padding: 30px;
            margin-top: 40px;
            margin-left: 25px;
            margin-right: auto;
            border-style: ridge;
            display: inline-block;
            width: 30%;
            margin-bot: 0;
        }

        #google {
            display: inline-block;
            margin-right: 0;
            margin-left: 50px;
            height: 400px;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>


    <div id="main" class="row">
        <div id="foto" class="col-md-4">

            {% with pand.foto_set.all|first as foto %}

                <div id="profile" style=" background-image: url('{{ foto }}'); background-size: cover;"></div>
            {% endwith %}
            <div id="more">
                <div id="foto1" class="col-md-4">
                    {% with pand.foto_set.all|first as foto %}


                        <div id="profile" style=" background-image: url('{{ foto }}'); "></div>
                    {% endwith %}
                </div>
                <div id="foto2" class="col-md-4">
                    {% with pand.foto_set.all|first as foto %}


                        <div id="profile" style=" background-image: url('{{ foto }}'); "></div>
                    {% endwith %}
                </div>
                <div id="foto3" class="col-md-4">
                    {% with pand.foto_set.all|first as foto %}


                        <div id="profile" style=" background-image: url('{{ foto }}'); "></div>
                    {% endwith %}
                </div>
            </div>

        </div>
        <div id="info" class="col-md-8">
            <h1 style="text-align: left">Info:</h1>
            <p><b>Adres:</b> &emsp;{{ pand.adres }} </p>
            <p><b>Prijs:</b> &emsp;€{{ pand.prijs|floatformat:2 }}</p>
            <p><b>Oppervlakte:</b> &emsp;{{ pand.oppervlakte }} </p>
            <p><b>Bouwjaar:</b> &emsp;{{ pand.bouwjaar }} </p>
            <p><b>Beschrijving:</b> &emsp;{{ pand.algemene_beschrijving }} </p>

        </div>
    </div>
    <div id="immo" class="col-md-6">
        <h1 style="font-size: 24px">Bekijk ook op:</h1>
        link immoweb

    </div>
    <div id="google" class="col-md-6">
        <iframe id="map" class="googleMaps"
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d14132.274223900284!2d4.4153278906692925!3d51.23276649094736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4171becbc9fedc3b%3A0x46b248d36dfe64!2sArtesis+Plantijn+Hogeschool+Antwerpen%2C+Lange+Nieuwstraat+101%2C+2000+Antwerpen!3m2!1d51.2196857!2d4.4119934!5e0!3m2!1snl!2sbe!4v1461846821030"
                allowfullscreen></iframe>
    </div>
{% endblock %}-->

