{% extends "ViaSofie/master.html" %}
{% load staticfiles %}

{% block headcontent %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
    <style>
        .dropdown-menu li {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block content %}
    <!--<div class="container">
        {# block breadcrumbs #}{# endblock #}
    </div>-->
    <div class="container">
        <h1>{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}</h1>
    </div>
    <div class="container">
        {% block messages %}
            {% if messages %}
            <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}
    </div>
    <div class="container admin-master">
        {% block inhoud %}{% endblock %}
    </div>
{% endblock %}
