/*
Algemeen
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 75px;
}

.default-button-handler {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
}

/*
Menubalk
*/

.navbar-default {
    background-color: #0d3532;
    border: none;
    border-radius: 0;
    min-height: 100px;
    font-family: "RopaSans";
    font-size: 28px;
}

@font-face {
    font-family: RopaSans;
    src: url('../fonts/RopaSansSCPro-Regular.otf');
}

.navbar-default .logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.navbar-brand {
    line-height: 70px;
    font-size: 28px;

}

.navbar-nav > li > a {
    line-height: 70px;
}

.nav > li > a {
    padding: 15px 15px;
}

.nav > li > a > .icon {
    width: 30px;
    height: 30px;
    background-image: url('../icons/home.png');
    background-size: 30px 30px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

.nav > li:hover > a > .icon {
    background-image: url('../icons/home-groen.png')
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #e8e8e8;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #bad5ce;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #bad5ce;
}

#goedDoel {
    background-image: url(../goedDoel.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 40px;
    margin-top: 10%;
}

/*
Footer
*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 50px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;*/
    margin-bottom: 0;
    min-height: 50px;
}

.navbar-center {
    line-height: 75px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    margin-left: 25%;

}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer .text-muted {
    font-size: 14px !important;
}

.footer li > a {
    line-height: 45px;
}

.footer .navbar-brand {
    line-height: 45px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0 !important;
}

.navbar-brand.text-muted {
    pointer-events: none;
}

/*
Pandpartial
*/

.foto {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    box-shadow: 2px 2px 5px #888888;
}

.pand-partial {
    margin-bottom: 60px;
}

.hexagon {
    position: absolute;
    left: 50%;
    width: 200px;
    height: 50px;
    background: #fff;
}

.hexagon:not(.inner) {
    margin-left: -100px;
    bottom: -26px;
}

.hexagon:after,
.hexagon:before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    width: 0px;
    border-top: 25px transparent solid;
    border-bottom: 25px transparent solid;
}

.hexagon:before {
    left: -30px;
    border-right: 30px #fff solid;
}

.hexagon:after {
    right: -30px;
    border-left: 30px #fff solid;
}

.hexagon.inner {
    background-color: #bad5ce;
    top: 2px;
    z-index: 2;
    left: 0;
    -webkit-filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.hexagon.inner:before {
    border-right: 30px solid #bad5ce;
}

.hexagon.inner:after {
    border-left: 30px solid #bad5ce;
}

/*
Pagina panden.index
*/

#pandenLijst {
    margin-top: 20px;
}

/*
Contact
*/

.googleMaps {
    width: 100%;
    height: 450px;
    frameborder: 2;
    border: ridge;
}

textarea {
    resize: none;

}

#sendMail {
    margin-top: 10px;
}

/*
index pagina
*/



/*
Carrousel
*/

.carousel-indicators li {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;

    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;

}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.carousel .item img {
    width: 100%; /*img width*/
    max-height: 600px;
}

/*full width container*/
@media (max-width: 767px) and (min-width: 768px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.slide-wrapper {
    position: relative
}

.carousel input:focus {
    outline-width: 0;
}

/*
About pagina
*/
#mainbody {
    font-family: RopaSans;
    font-size: 16px;
    margin-left: 30%;
    margin-right: 30%;

}

/*
Disclaimer pagina
*/
#disclaimer , #privacy{
    font-family: RopaSans;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bot: 50%;
    font-size: 24px;
    text-align: left;
    font-style: italic;
    color: #0d3532;
}

 /*
FAQ pagina
*/
#faq {
    font-family: RopaSansPro-Italic;
}

#nota {
    font-style: italic;
}