/*
Algemeen
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
    background-color:#F7F7F7;
}
input[type=checkbox] + label {
background: url("../icons/belgium.png") no-repeat;
  height: 50px;
  width: 50px;
  display: block;

}

@media (max-width: 768px) {
    body {
        margin-bottom: 223px;
    }
}

.default-button-handler {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
}

.panel-default>.panel-heading {
    background-color: #e8e8e8;
}

#sad-face-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: RopaSans;
}

#sad-face {
    z-index: -10;
    position: absolute;
    margin-top: 5%;
    font-size: 300pt;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.5;
}

/*
Menubalk
*/

.navbar-default {
    background-color: #0d3532;
    border: none;
    border-radius: 0;
    min-height: 100px;
    font-family: "RopaSans";
    font-size: 20px;
    /* margin-bottom:0;*/
}

/* Center navigatie */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@font-face {
    font-family: RopaSans;
    src: url('../fonts/RopaSansSCPro-Regular.otf');
}

.navbar-default .logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.navbar-brand {
    line-height: 70px;
    font-size: 28px;
}

.navbar-nav > li > a {
    line-height: 70px;
}

.nav > li > a {
    padding: 15px 15px;
}

/* Smaller when resizing screen to smaller width */
@media (max-width: 1150px) and (min-width: 768px) {
    .nav > li > a {
        padding: 15px 5px;
        line-height: 40px;
    }

    .navbar-brand {
        font-size: 22px;
        line-height: 40px;
    }

    .navbar-default {
        font-size: 14px;
        min-height: 70px;
    }

    .navbar-default .logo {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 1150px) and (min-width: 900px) {
    .navbar-default {
        font-size: 16px;
    }
}

/* Making navbar smaller when mobile */
@media (max-width: 768px) {
    .navbar-default {
        min-height: 50px;
    }

    .navbar-default .logo {
        width: 50px;
        height: 50px;
    }

    .navbar-brand {
        line-height: 20px;
        font-size: 24px;
    }

    .navbar-nav > li > a {
        line-height: 20px;
    }
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #e8e8e8;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #bad5ce;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #bad5ce;
}

#goedDoel {
    background-image: url(../goedDoel.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 40px;
    margin-top: 10%;
}

#language {

  padding-top: 7px;
}

#viaSofieCarousel, #viaSofieCarousel .item, #viaSofieCarousel .carousel-inner .active {
    height: 100%;
}

#viaSofieCarousel .carousel-inner {
    height: 100%;
}

/*
Footer
*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 50px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;*/
    margin-bottom: 0;
    min-height: 50px;
    padding-left: 25px;
    padding-right: 25px;
}



@media (min-width: 768px) {
    .footer .navbar-center {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .footer .container-fluid {
        text-align: center;
    }
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer .text-muted {
    font-size: 16px;
    pointer-events: none;

}

@media (max-width: 840px) {
    .footer .text-muted {
        font-size: 16px;
    }
}

.footer li > a {
    line-height: 20px;
}

.footer .navbar-brand {
    line-height: 20px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0 !important;
}

/*
Pandpartial
*/

.foto {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    box-shadow: 2px 2px 5px #888888;
}

.no-foto {
    background-size: contain;
}

.pand-partial {
    margin-bottom: 60px;
}

.hexagon {
    position: absolute;
    left: 50%;
    width: 200px;
    height: 50px;
    background: #fff;
}

.hexagon:not(.inner) {
    margin-left: -100px;
    bottom: -26px;
}

.hexagon:after,
.hexagon:before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    width: 0px;
    border-top: 25px transparent solid;
    border-bottom: 25px transparent solid;
}

.hexagon:before {
    left: -30px;
    border-right: 30px #fff solid;
}

.hexagon:after {
    right: -30px;
    border-left: 30px #fff solid;
}

.hexagon.inner {
    background-color: #bad5ce;
    top: 2px;
    z-index: 2;
    left: 0;
    -webkit-filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.hexagon.inner:before {
    border-right: 30px solid #bad5ce;
}

.hexagon.inner:after {
    border-left: 30px solid #bad5ce;
}

/*
Pagina panden.index
*/

#zoeken {
    margin-bottom: 20px;
}

#pandenLijst {
    /*margin-top: 20px;*/
}

#panden {
    background-color: #f7f7f7;
}

/*
Easter Egg
*/

#easter-egg {
    display: none;
}

#made-by,
#easter-egg ul,
#easter-egg li {
    display: inline-block;
}

/*
Contact
*/

.googleMaps {
    width: 100%;
    height: 480px;
    frameborder: 2;
    border: ridge;
}

textarea {
    resize: none;

}

#sendMail {
    margin-top: 10px;
}

#contactgegevens {
    font-size: 18px;
    font-family: RopaSans;
    text-align: center;
}
#c1, #c2, #c3 {
    padding-top: 40px;
}
/*
About pagina
*/



#mainbody {
    font-family: RopaSans;
    text-align: left;
    margin-top:50px;

}



/*
Disclaimer pagina
*/
#disclaimer, #privacy {
    font-family: RopaSans;
    margin-right: 30%;
    font-size: 18px;
    text-align: left;
    color: #0d3532;
}

/*
FAQ pagina
*/
#faq {
    font-family: RopaSans;
    font-size: 16px;
}

#nota {
    font-style: italic;
    font-size: 14px;
}

.panel-heading .glyphicon-plus-sign {
    display: none;
}

.panel-heading.collapsed .glyphicon-plus-sign {
    display: initial;
}

.panel-heading.collapsed .glyphicon-minus-sign {
    display: none;
}

.fancytitle {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: RopaSans;
}

.fancy {
    line-height: 1;
    text-align: center;
}

.fancy span {
    display: inline-block;
    position: relative;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 8px;
    margin-top: 13px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 6000px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

/*
Carousel
*/

.carousel-indicators li {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;

    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;

}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#viaSofieCarousel .item {
    width: 100%; /*slider width*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#viaSofieCarousel .item img {
    width: 100%; /*img width*/
}

/*full width container*/
@media (max-width: 767px) and (min-width: 768px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.slide-wrapper {
    position: relative
}

#viaSofieCarousel input:focus {
    outline-width: 0;
}

#panden {
    padding-top: 40px;
    font-family: RopaSans;

}

/*
Search balk index pagina
*/

.header {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*
Keywordsearch
*/

.keywordsearch {
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1000;
}

.keywordsearch input {
    padding-left: 13px;
    padding-right: 13px;
    width: 100%;
}

.keywordsearch button {
    float: right;
}

.keywordsearch button, .keywordsearch input {
    background-color: rgba(80, 80, 80, 0.7);
    color: white;
    height: 50px;
    border-radius: 6px;
    border: 1px solid white;
}

.keywordsearch .text-input-container {
    position: absolute;
    right: 100px;
    left: 0;
    top: 0;
    bottom: 0;
}

#ebook {
    padding-bottom: 20px;
}

#theCarousel .carousel-inner {
    padding-bottom: 10px;
}

/*dossier detail */
#pand_img{
    max-width: 100%;
}


#dossier_checklist{
    margin-top: 10px;
}

#stavaza_comm{
    margin-top: 10px;
}

#header_checklist{
    margin-top: 0px;
    margin-bottom: 0px;
}

#header_stavaza{
    margin-top: 0px;
    margin-bottom: 0px;
}

#header_details{
    margin-top: 0px;
    margin-bottom: 0px;
}

.admin-master {
    font-family: RopaSans;
}

.admin-master .module h2, .admin-master .module caption, .admin-master .inline-group h2 {
    background-color: #0d3532;
}

.horizontal-divider {
    width: 40px;
    display: inline-block;
}

.admin-menu {
    height: 6em;
    display: table;
    margin: 0 auto 30px;
}

.admin-menu .icons {
    display: table-cell;
    vertical-align: bottom;
}

.admin-menu i {
    font-size: 3em;
    color: #0d3532;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.admin-menu i:hover {
    font-size: 5em;
    color: #bad5ce;
}