{% load humanize %}
{% load staticfiles %}
{% load viasofie_tags %}
{% gebruik_zeshoeken as zeshoek %}
{% load viasofie_filters %}

{% if not zeshoek %}
    <div class="{{ pand_kolom_class }} text-center pand-partial">
        <a href="
                {% if dossier %}{% url 'dossiers.dossier' pand.id %}{% else %}{% url 'panden.detail' pand.id %}{% endif %}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <b> {{ pand.type.type }}
                            <br/> {{ pand.adres.straat }} {{ pand.adres.huisnummer }} <br/>{{ pand.adres.woonplaats }} <br/>
                            {% if dossier %} {% pand_ref pand %} {% endif %}
                        </b>
                    </h4>
                </div>
                {% with pand.foto_set.all|first as foto %}
                    <div class="foto" style="background-image: url('{{ foto }}');"></div>
                {% endwith %}
                <div class="panel-heading">
                    <h4><b>{{ pand.prijs|euro }}</b></h4>
                </div>
            </div>
        </a>
    </div>
{% else %}
    <div class="{{ pand_kolom_class }} text-center pand-partial">
        {% if pand != None %}
            {% with pand.foto_set.all|first as foto %}
                <!-- <img class="img-rounded" src="{{ foto }}" style="max-width:100%;"> -->
                <a href="{% url 'panden.detail' pand.id %}">
                    <div class="foto{% if not foto %} no-foto{% endif %}" style="background-image: url('{% if foto %}{{ foto }}{% else %}{% static 'ViaSofie/no-image.png' %}{% endif %}');"></div>
                </a>
                <!--<div class="pandinfobox">
                <div class="pandinfobox-left"></div>
                <div class="pandinfobox-middle"><strong>{{ pand.type }}</strong><br/>€ {{ pand.prijs|floatformat:2 }}</div>
                <div class="pandinfobox-right"></div>
            </div>-->
                <div class="hexagon">
                    <div class="hexagon inner">
                        <strong>{{ pand.type }}</strong><br/>{{ pand.prijs|euro }}
                        | {{ pand.adres.woonplaats.gemeente }}
                    </div>
                </div>
            {% endwith %}
            <!--<h2>{# pand.type #} </h2>
            <p>{# pand.adres #} &emsp; €{# pand.prijs|floatformat:2 #}</p>-->
        {% endif %}
    </div>
{% endif %}