{% extends "ViaSofie/master.html" %}
{% block content %}
<div class="container-fluid bg-2 text-right ">
    <div class="panel panel-default">
        <img src="./Images/placeholder.png" alt="profile"
             style="width:304px;height:228px;padding-right: 15px;padding-top: 15px;">

        <div class="panel-body text-center">
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
            <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                Placeholder text Placeholder text Placeholder text Placeholder text</p>
        </div>
    </div>
</div>
{% endblock %}