{% extends "ViaSofie/master.html" %}
{% load staticfiles %}

{% block title %}Over ons{% endblock %}
{% block headcontent %}
    <style>
        body {
            background-image: url('{% static 'ViaSofie/skyline.jpg' %}');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="cover" class="container-fluid bg-2 text-right ">
        <div>
            <img src="{% static "ViaSofie/placeholder.png" %}" alt="profile"
                 style="width:304px;height:228px;padding-right: 15px;padding-top: 15px;">

            <div id="mainbody" class="well">
                <p> Sofie is juriste van opleiding (Master in de Rechten). Zij behaalde tevens een postgraduaat
                    Vastgoedkunde aan de KU Leuven.
                    Zowel op juridisch als bouwtechnisch vlak loodst zij u graag doorheen het vastgoedlandschap en dit
                    met het oog op een succesvolle verkoop of verhuur.
                    Ook voor de opmaak van een taxatieverslag of adviesverlening kan u bij haar terecht.</p>
                <p> Sofie neemt de zorg voor de verkoop of verhuur van uw woning uit handen.
                    Zij regelt bezoeken, zorgt ervoor dat een verkoop- of verhuurdossier wordt opgesteld conform de
                    wettelijke bepalingen en
                    helpt bij een correcte prijszetting van uw pand aan de hand van een taxatieverslag en op basis van
                    vergelijkingspunten van een eigen opgebouwd databestand.
                    Hebt u vragen of wil u weten wat Sofie voor u kan betekenen, contacteer haar vrijblijvend.</p>
            </div>
        </div>
    </div>
{% endblock %}