{% extends "ViaSofie/master.html" %}
{% load staticfiles %}

{% block title %}Over ons{% endblock %}
{% block headcontent %}

{% endblock %}
{% block content %}
    <div class="container bg-2  ">
        <div id="mainbody" class="col-md-12">
            <div id="profile" class="container-fluid bg-2 text-center">
                <img class="img-circle" src="{% static "ViaSofie/SA.png" %}" alt="profile"
                     style="width:250px;height:inherit; border: 2px solid black;max-width:100%;margin: auto 5px 25px;">
            </div>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#aboutus" style="cursor: pointer;">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                                class="glyphicon glyphicon-minus-sign"></span> Over Sofie
                        </h4>
                    </div>
                    <div id="aboutus" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <strong>S</strong>ofie is juriste van opleiding (Master in de Rechten). Zij behaalde tevens
                            een
                            postgraduaat Vastgoedkunde aan de KU Leuven.
                            <br>Zowel op juridisch als bouwtechnisch vlak loodst zij u graag doorheen het
                            vastgoedlandschap
                            en
                            dit met het oog op een succesvolle verkoop of verhuur.<br>
                            Ook voor de opmaak van een taxatieverslag of adviesverlening kan u bij haar terecht.<br>
                            Sofie
                            neemt
                            de zorg voor de verkoop of verhuur van uw woning uit handen. Zij regelt bezoeken, zorgt
                            ervoor
                            dat
                            een verkoop- of verhuurdossier wordt opgesteld conform de wettelijke bepalingen en helpt bij
                            een
                            correcte prijszetting van uw pand aan de hand van een taxatieverslag en op basis van
                            vergelijkingspunten van een eigen opgebouwd databestand.
                            <br><br>
                            Hebt u vragen of wil u weten wat Sofie voor u kan betekenen, contacteer haar vrijblijvend.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#partners" style="cursor: pointer;">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                                class="glyphicon glyphicon-minus-sign"></span> Partners
                        </h4>
                    </div>
                    <div id="partners" class="panel-collapse collapse">
                        <div class="panel-body">
                            Nog in te vullen.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#goedeDoel" style="cursor: pointer;">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                                class="glyphicon glyphicon-minus-sign"></span> Maatschappelijk Engagement
                        </h4>
                    </div>
                    <div id="goedeDoel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Als onderneming wil Via Sofie iets terugdoen voor de maatschappij. Van elke verkoop gaat
                                een deel van de commissie naar een goed doel.</p>

                            <p>Deze twee projecten worden ondersteund:</p>

                            <p>Moeders voor moeders zet zich in voor de armsten in Vlaanderen :</p>

                            <a href="http://www.moedersvoormoeders.be"><img
                                    src="{% static "ViaSofie/icons/mvmlogo.png" %}"/> </a>


                            <p>Ondernemers zonder Grenzen, een organisatie die zich, met een uniek herbebossingsproject
                                inzet voor het welzijn van mens én planeet:</p>
                            <a href="http://www.ozg.be"><img src="{% static "ViaSofie/icons/ozglogo.jpg" %}"/> </a>


                            <p>Laat gerust weten welk project u mee een duwtje in de rug wilt geven!</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
