{% extends "ViaSofie/master.html" %}
{% load staticfiles %}

{% block title %}Disclaimer{% endblock %}
{% block content %}

    <div id="body">
        <div class="container bg-2 text-left">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#disclaimer">
                        <h4 class="panel-title">
                                Disclaimer
                        </h4>
                    </div>
                    <div id="disclaimer" class="panel-collapse collapse{% if default == 'disclaimer' %} in{% endif %}">
                        <div class="panel-body">
                           <p>Via Sofie besteedt veel aandacht en zorg aan haar website en streeft ernaar dat alle
                            informatie zo volledig, juist, begrijpelijk, nauwkeurig en actueel mogelijk is.</p>

                          <p>  Ondanks alle inspanningen is het niet uitgesloten dat de ter beschikking gestelde informatie
                            steeds volledig, juist, nauwkeurig of bijgewerkt is. In het geval dat links tot stand worden gebracht met andere sites, bijvoorbeeld met behulp
                            van zoekinstrumenten, is Via Sofie niet aansprakelijk voor de inhoud en het bestaan van deze
                            andere sites.</p>

                            <p> Als de informatie op de website van Via Sofie tekortkomingen vertoont, zal er naar worden
                            gestreefd om al het mogelijke doen om deze zo snel mogelijk weg te werken. Als je onjuistheden vaststelt, kan je contact opnemen met de beheerder van de website:
                            info@viasofie.be.</p>

                           <p> Via Sofie kan niet aansprakelijk worden gesteld voor rechtstreekse of onrechtstreekse schade
                            die ontstaat door het gebruik van de website of van de op of via de website ter beschikking gestelde
                            informatie. Ongeautoriseerd of oneigenlijk gebruik van de content of delen daarvan maken inbreuk op
                            intellectuele rechten.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#privacy">
                        <h4 class="panel-title">

                                Privacy
                        </h4>
                    </div>
                    <div id="privacy" class="panel-collapse collapse{% if default == 'privacy' %} in{% endif %}">
                        <div class="panel-body">
                         <p>  Via Sofie hecht veel belang aan het beschermen van de privacy van de bezoekers van haar
                            website. Ons privacybeleid is van toepassing op de diensten geleverd door Via Sofie.
                            We zijn echter niet verantwoordelijk voor het privacybeleid van andere sites en bronnen.</p>
                          <p>  We zijn er van bewust dat u vertrouwen stelt in ons en zien het dan ook als onze
                            verantwoordelijkheid om uw privacy te beschermen. Door gebruik te maken van deze website geeft u aan het privacybeleid te accepteren.
                            Wanneer u zich aanmeldt voor één van onze diensten, zoals een nieuwsbrief, e-book of
                            klantenaccount vragen we u om persoonsgegevens te verstrekken.</p>
                           <p> Deze gegevens worden gebruikt om de dienst uit te kunnen voeren. Uw gegevens worden ook
                            gebruikt om u op de hoogte te houden van onze activiteiten.
                            De informatie wordt niet met derden gedeeld. Onze werknemers zijn verplicht om de
                            vertrouwelijkheid van uw gegevens te respecteren.
                            We controleren regelmatig of we aan dit privacybeleid voldoen. </p>
                          <p>  Als u vragen heeft over dit privacybeleid, kunt u
                            contact met ons opnemen:</p>
                           <p> Via Sofie, Mussenhoevelaan 101,2530 Boechout,</p>
                          <p>  telefoonnummer: 0483713710,</p>
                            <p>emailadres:info@viasofie.be </p>

                           <p> Als u uw gegevens aan wilt passen of uzelf uit onze bestanden wilt laten halen, kunt u
                            contact met ons op nemen.</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}