{% extends "ViaSofie/master.html" %}
{% load staticfiles %}

{% block title %}Veelgestelde vragen{% endblock %}

{% block content %}

    <div id="faq" class="container-fluid bg-2 text-center ">
        <p><b> Frequently asked questions</b></p><br>
        <p> Wilt u een woning kopen/huren of verkopen/verhuren dan moet u rekening houden met een hele hoop zaken. <br>
            Hieronder vindt u een aantal algemene begrippen en FAQ’s van belang bij de verkoop of verhuur. <br>
            Hebt u vragen over onderstaande topics of staat uw vraag hier niet tussen, aarzel niet om me te contacteren,
            ik help u graag verder.</p>
        <br> <br>
        <div class="container bg-2 text-left">

            <div class="panel-group" id="accordion">

                {% for item in faq_items %}
                    <div class="panel panel-default">
                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#compromis" style="cursor: pointer;">
                            <h4 class="panel-title">
                                <span class="glyphicon glyphicon-plus-sign"></span> <span class="glyphicon glyphicon-minus-sign"></span>{{ item.titel }}
                            </h4>
                        </div>
                        <div id="compromis" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ item.tekst|safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!--
                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#compromis" style="cursor: pointer;">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                                class="glyphicon glyphicon-minus-sign"></span> Wat is een compromis?
                        </h4>
                    </div>
                    <div id="compromis" class="panel-collapse collapse">
                        <div class="panel-body">
                            De compromis of de onderhandse overeenkomst is in principe vormvrij. <br>
                            De compromis is een koop-verkoopovereenkomst waarbij koper en verkoper overeenkomen dat <br>
                            de verkoper er zich toe verbindt om de eigendom van een zaak over te dragen aan de koper.
                            <br>
                            De koper van zijn kant verbindt zich ertoe om een geldprijs te betalen. <br>
                            <br>
                            In tegenstelling tot wat sommigen denken is de koop definitief vanaf de compromis. <br>
                            <br>
                            Omdat het belangrijk is dat de compromis alle essentiële elementen bevat, <br>
                            is het aan te raden samen te werken met een erkend makelaar die u kan begeleiden bij de
                            opmaak van dit
                            document.<br>
                            <br>
                            Waarom moet er nog een authentieke akte worden opgesteld nà de ondertekening van de
                            compromis?
                            <br>
                            Na de compromis zal de notaris een authentieke akte opstellen. Het is enkel de notaris die
                            daartoe
                            gemachtigd
                            is.<br>
                            Hij zal de authentieke akte laten overschrijven in de registers van het hypotheekkantoor.
                            Vanaf dat
                            ogenblik is
                            de verkoop ‘tegenstelbaar aan derden’. <br>
                            Dit wil zeggen dat vanaf de overschrijving op het hypotheekkantoor, iedereen, <br>
                            ook diegenen die geen partij zijn bij de verkoopovereenkomst rekening zullen moeten houden
                            met de
                            rechten van de
                            nieuwe eigenaar van het onroerend goed.<br>
                            <br>
                        </div>
                    </div>
                </div>






                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#keuringverslag" style="cursor: pointer;">
                        <h4 class="panel-title">

                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                                class="glyphicon glyphicon-minus-sign"></span> Wat indien ik mijn woning verkoop en ik
                            een
                            negatief keuringsverslag heb?
                        </h4>
                    </div>
                    <div id="keuringverslag" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p><b>Algemeen</b></p>
                            <br>
                            Het keuringsverslag , afgeleverd na de keuring van de elektrische installatie, geeft
                            informatie over de
                            staat<br>
                            van de elektrische installatie, zodat de nieuwe eigenaar indien nodig de installatie kan
                            aanpassen om zijn<br>
                            veiligheid te garanderen.<br>
                            Een keuringsverslag is in principe 25 jaar geldig op voorwaarde dat er geen wijziging of
                            uitbreiding werd<br>
                            aangebracht aan de elektrische installatie. Dit document moet bij het verkoopdossier worden
                            gevoegd.<br>
                            Enkel een erkend keuringsorganisme mag de keuring uitvoeren.<br>
                            <br>
                            <b> Verhindert een negatief keuringsverslag de verkoop?</b>
                            <br><br>
                            Neen, een negatief keuringsverslag verhindert de verkoop niet.<br>
                            De notaris zal echter wel verplicht zijn om dit te melden aan een erkend
                            keuringsorganisme.<br>
                            De nieuwe eigenaar zal in principe het nodige moeten doen om de elektrische installatie
                            conform de opgelegde
                            <br>
                            voorschriften in ordete maken.<br>
                            Het keuringsverslag vermeldt normaalgezien de datum waartegen de nieuwe keuring moet worden
                            uitgevoerd.
                            <br><br>
                            <p><b>Hoe lang blijft een energieprestatiecertificaat geldig?</b></p>
                            <br>
                            Het EPC-attest is een document dat aangeeft hoe energiezuinig een gebouw of woning precies
                            is. Hoe lager de
                            score hoe energiezuiniger de woning. <br>
                            Het EPC-attest wordt opgesteld door een energoedeskundige en is in principe 10 jaar geldig.
                            <br>
                            Het EPC –attest dient aanwezig te zijn vanaf het ogenblik dat een woning te koop of te huur
                            wordt
                            aangeboden.<br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#kadastraal" style="cursor: pointer;">
                        <h4 class="panel-title">

                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                                class="glyphicon glyphicon-minus-sign"></span> Wat geeft het kadastraal inkomen weer?
                        </h4>
                    </div>
                    <div id="kadastraal" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p><b>Algemeen</b></p>
                            <br>
                            Het kadastraal inkomen van een onroerend goed is het gemiddeld normaal netto-inkomen van één
                            jaar van
                            een
                            onroerend goed,<br>
                            na aftrek van alle kosten, zoals geschat door de administratie van het kadaster en voor
                            meerdere jaren
                            vastgelegd. <br>
                            Het is aldus de administratie van het kadaster die op basis van de netto-huurwaarde op een
                            bepaald
                            referentietijdstip,<br>
                            door vergelijking met een aantal referentiepercelen met overeenstemmende omvang, ligging,
                            aard,
                            afwerking,
                            enzovoort, <br>
                            het kadastraal inkomen van een bepaald perceel vastlegt. Tot op heden wordt als
                            referentietijdstip het
                            jaar 1975
                            genomen.<br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#notaris" style="cursor: pointer;">
                        <h4 class="panel-title">

                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                                class="glyphicon glyphicon-minus-sign"></span> Welke notaris mag de verkoopakte
                            verlijden?
                        </h4>
                    </div>
                    <div id="notaris" class="panel-collapse collapse">
                        <div class="panel-body">
                            Bij een verkoop uit de hand hebben zowel de eigenaar als de kandidaat-koper elk het recht om
                            een notaris
                            aan te
                            duiden. <br>
                            Het compromis vermeld voor welke notaris de koper en de verkoper kiezen. Het is dus mogelijk
                            om meerdere
                            notarissen de koopakte te laten verlijden.<br>
                            <br>
                            <p><b>U wilt een huis aankopen, hoe brengt u het best een bod uit?</b></p>
                            <br>
                            Indien u een woning wenst aan te kopen kan u best op een aantal zaken letten:<br>
                            <br>
                            - Een bod kan je het beste schriftelijk uitbrengen, dit om eventuele discussies te
                            vermijden.<br>
                            - Vermeld duidelijk welke opschortende voorwaarden moeten vervuld zijn alvorens het bod
                            geldt. Zo kan de
                            o.m.
                            bepaald worden dat aan de koper eerst een lening moet worden toegestaan door de bank.<br>
                            - Zeer belangrijk: vermeld steeds tot welke datum je bod geldt!<br>
                            - Ga alvorens je een bod uitbrengt al eens informeren bij je bank welk bedrag je kan
                            lenen.<br>
                            <br>
                            <p><b>Met welke notariskosten moet u rekening houden bij de aankoop van een woning?</b></p>
                            <br>
                            Koopt u een woning dan betaalt u niet enkel de aankoopprijs van de woning, maar moet u ook
                            rekening
                            houden met
                            de kosten die u aan de notaris moet betalen, hieonder moet begrepen worden:<br>
                            - de registratierechten of BTW<br>
                            - het ereloon van de notaris, het ereloon is bij wet bepaald<br>
                            - de algemene kosten van de akte (dit zijn kosten die de notaris moet maken in het kader van
                            kadastrale,
                            hypothecaire, stedenbouwkundige en fiscale opzoekingen, enzovoort).<br>
                            <br>
                            Meer info kan u terugvinden op: <a href=" www.notaris.be">www.notaris.be</a><br>
                            <a href="https://www.notaris.be/rekenmodules/aankoop">hier</a> vindt u
                             een rekenmodule die u een
                            indicatie geeft van de te verwachte aktekosten.<br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#kost" style="cursor: pointer;">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-plus-sign"></span><span
                                class="glyphicon glyphicon-minus-sign"></span> Wie betaalt de kosten van de verkoop?
                        </h4>
                    </div>
                    <div id="kost" class="panel-collapse collapse">
                        <div class="panel-body">
                            De kosten van de koopovereenkomst en andere bijkomende kosten zijn in principe voor de koper
                            (artikel
                            1593 van
                            het burgerlijk wetboek). <br>
                            Het is echter aan de partijen toegestaan om dit anders te regelen. In het laatste geval is
                            het aan te
                            raden om
                            dit op te nemen in de compromis.<br>
                            <br>
                        </div>
                    </div>
                </div>-->






            </div>
        </div>
        <div>
            <p> Hebt u nog vragen? Ik help u graag verder!</p>

            <p> Hebt u vragen over het te koop stellen van een onroerend goed? Wilt u er zeker van zijn dat uw
                verkoopdossier volledig is?
                Neem vrijblijvend contact op!</p>
            <br>
            <p id="nota">De inlichtingen zoals meegedeeld op deze pagina zijn louter van algemene aard en kunnen
                geenszins
                als <br>
                sluitende professionele juridische adviesverlening aangepast aan specifieke of concrete persoonlijke
                omstandigheden worden beschouwd.</p><br>

            <br>


        </div>
    </div>
{% endblock %}