{% extends "ViaSofie/master.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block headcontent %}
    <script>
        $(window).on('load resize', function () {
            var width = $(window).width();
            var navHeight = 100;
            if (width <= 1150 && width >= 768)
                navHeight = 70;
            if (width < 768)
                navHeight = 50;
            $(".carousel,.item,.carousel-inner").css("height", $(window).height() - navHeight);
        });
    </script>
    <style>
        .navbar {
            margin-bottom: 0;
        !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid header">
        <section class="block">
            <div id="viaSofieCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>-->
                    {% for image in carousel %}
                        <li data-target="#viaSofieCarousel" data-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for image in carousel %}
                        <div class="item{% if forloop.counter0 == 0 %} active{% endif %}"
                             style="background-size: cover; background-image: url('{{ image }}'); padding-bottom: 30%;background-position: center;">
                            <!--<img src="{{ image }}" alt="Woning" style="margin: 0 auto;">-->
                        </div>
                    {% endfor %}


                </div>
                <a class="left carousel-control" href="#viaSofieCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#viaSofieCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <div class="bg-2 text-center"
             style="position: absolute;top:300px; bottom: 0; left: 0;right: 0; margin-left: 200px; margin-right: 200px;">
            <div>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <form method="post" action="{% url 'panden.index' %}">
                            {% csrf_token %}
                            <input type="text" id="search" name="search"
                                   placeholder="Zoek op gemeente, postcode, provincie, ..."/>
                            <button type="submit" id="btnsearch" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span> Zoeken
                            </button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid" id="panden">
        <div class="container">
            <div class="row h1 fancytitle">
                <div class="fancy"><span>Meest recente panden</span></div>
            </div>
            <!-- Panden worden hier weergegeven!!! -->
            <div class="row">
                {% for pand in panden %}
                    {% include "panden/partial/pand_list_detail.html" with pand=pand %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <!--<div class="panel panel-default">
            <div class="panel-heading">E-book</div>
            <div class="panel-body">Inschrijven voor e-book</div>
        </div>-->
        <div class="row h1 fancytitle">
            <div class="fancy"><span>E-book</span></div>
        </div>
        <div class="row">
            <form role="form">
                <div class="form-group">
                    <label for="email">E-mailadres:</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </form>
        </div>
    </div>
{% endblock %}