{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "ViaSofie/css/screen.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>{% block title %}{% endblock %} | Via Sofie</title>
    {% block headcontent %}
    {% endblock %}
    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
</head>
<body>
<style>
    #goedDoel {
        background-image: url({% static "ViaSofie/goedDoel.png" %});
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 40px;
margin-top: 5%;

    }

</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header navbar-logo">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#viaSofieNavigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="float: left;" href="{% url 'index' %}"><img src="{% static "ViaSofie/logo.png" %}" alt="Logo"
                                                                  class="logo"/></a>
            <a class="navbar-brand" href="{% url 'index' %}">Via Sofie</a>
        </div>
        <div class="collapse navbar-collapse" id="viaSofieNavigation">
            <ul class="nav navbar-nav">
                <li id="kopen" class="{% if nbar == 'kopen' %}active{% endif %}"><a href="{% url 'panden.index' %}"><img src="{% static "ViaSofie/icons/kopen.png" %}">Kopen</a>
                </li>
                <li id ="huren" class="{% if nbar == 'huren' %}active{% endif %}"><a href="{% url 'panden.index' %}"><img src="{% static "ViaSofie/icons/huren.png" %}">Huren</a>
                </li>
                <li id="about" class="{% if nbar == 'about' %}active{% endif %}"><a href="{% url 'ViaSofie.about' %}"><span class="glyphicon glyphicon-user"></span> Over ons</a>
                </li>
                <li id="contact" class="{% if nbar == 'contact' %}active{% endif %}"><a
                        href="{% url 'ViaSofie.contact' %}"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            <li id="faq" class="{% if nbar == 'faq' %}active{% endif %}"><a href="{% url 'ViaSofie.faq' %}"><span class="glyphicon glyphicon-question-sign"></span> Advies</a></li>
            </ul>
            {% if not user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginModal">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                    </li>
                    <li id="goedDoel" >
                       <a href="http://www.welzijnszorg.be/"></a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           href="#">{{ user.first_name }} {{ user.last_name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_superuser %}
                                <li><a href="{% url "admin:index" %}"><span class="glyphicon glyphicon-cog"></span>
                                    Beheer</a></li>
                            {% endif %}
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mijn profiel</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-file"></span> Mijn dossier</a></li>
                            <li><a href="{% url "gebruikers.logout" %}"><span
                                    class="glyphicon glyphicon-log-out"></span> Uitloggen</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inloggen</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'gebruikers.login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">E-mail:</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Wachtwoord:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
<!--<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright &copy; 2016 ViaSofie | Alle rechten voorbehouden.</p>
        <ul class="nav navbar-nav navbar-right">
            <li>Disclaimer</li>
            <li>Privacy</li>
        </ul>
    </div>
</footer>-->
<nav class="navbar navbar-default footer">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand text-muted">Copyright &copy; 2016 ViaSofie | Alle rechten voorbehouden.</span>

        </div>
        <div class="nav navbar-nav navbar-center">
            build by AP hogeschool
          <a href="#">  <img src="{% static "ViaSofie/icons/twitter.png" %}"></a>
          <a href="#"> <img src="{% static "ViaSofie/icons/facebook.png" %}"></a>

        </div>

        <ul class="nav navbar-nav navbar-right">

            <li class="{% if nbar == 'disclaimer' %}active{% endif %}"><a href="{% url 'ViaSofie.disclaimer' %}">Disclaimer</a>
            </li>
            <li class="{% if nbar == 'disclaimer' %}active{% endif %}"><a href="{% url 'ViaSofie.disclaimer' %}">Privacy</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>