{% extends "ViaSofie/master2.html" %}
{% block content %}
    <div class="container-fluid bg-2 text-right ">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
                <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
                    Placeholder text Placeholder text Placeholder text Placeholder text</p>
            </div>
        </div>
    </div>
{% endblock %}