{% extends "ViaSofie/master.html" %}
{% load staticfiles %}

{% block title %}Dossier{% endblock %}

{% block headcontent %}
<style>
#pand_img{
    max-width: 100%;
}


#dossier_checklist{
    margin-top: 10px;
}

#stavaza_comm{
    margin-top: 10px;
}

#header_checklist{
    margin-top: 0px;
    margin-bottom: 0px;
}

#header_stavaza{
    margin-top: 0px;
    margin-bottom: 0px;
}

#header_details{
    margin-top: 0px;
    margin-bottom: 0px;
}
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ foto }}" class="img-rounded" id="pand_img">
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="header_details"><b>Pand details</b></h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    {% for kenmerk in basis_kenmerken %}
                                    <div class="col-md-12">
                                        <b>{{ kenmerk.1 }} : </b>
                                        <p>{{ kenmerk.0 }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    {% for kenmerk in kenmerken %}
                                    <div class="col-md-12">
                                        <p><b>{{ kenmerk.kenmerk.benaming }} : </b> {{ kenmerk.aantal }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default" id="dossier_checklist">
                    <div class="panel-heading">
                        <h4 id="header_checklist"><b>Checklist</b></h4>
                    </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Beschrijving</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            {% for doclijn in doclijnen %}
                                <tbody>
                                    <tr>
                                        <td>{{ doclijn.beschrijving }}</td>
                                        <td>{{ doclijn.status }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" id="stavaza_comm">
                    <div class="panel-heading">
                        <h4 id="header_stavaza"><b>Stavaza</b></h4>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="contactform" class="panel panel-default">
                    <div class="panel-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Bericht:</label>
                                <p>{{ form.message }}</p>
                            </div>
                            <button type="submit" class="btn btn-default" name="sendMail" id="sendMail">Verzenden</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}