{% extends "ViaSofie/master.html" %}
{% load staticfiles %}
{% load viasofie_tags %}

{% block title %}Dossier{% endblock %}

{% block headcontent %}
    <style>
        #pand_img {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div class="row">
            {% if panden %}
                {% for pand in panden %}
                    <a href="{{ pand.id }}">
                            {% include 'panden/partial/pand_list_detail.html' %}
                    </a>
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h1 class="sad-face">Er konden geen dossiers gevonden worden &#9785;</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}